---
description: Verificación por correo electrónico - Documentos de Marketo - Documentación del producto
title: Verificación de correo electrónico
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 342034eeca4ba0084824b833f14d8e8c3b65d6e3
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Verificación de correo electrónico {#email-verification}

Las suscripciones a Adobe Marketo Engage requieren que todos los usuarios que no sean solo usuarios de API comprueben su dirección de correo electrónico. Los usuarios de inicio de sesión único (SSO) verán automáticamente su correo electrónico verificado cuando su suscripción esté habilitada con la verificación por correo electrónico.

**Invitación de usuario**

Cuando un administrador invita a un usuario, este se verifica automáticamente una vez que hace clic en el vínculo de invitación. Los usuarios con SSO se verifican automáticamente.

**Cambio de una dirección de correo electrónico**

Cuando se cambia la dirección de correo electrónico de un usuario, pasa a estar sin verificar. Se les enviará un correo electrónico para que puedan volver a verificarlo. Los usuarios pueden reenviar manualmente ese correo electrónico haciendo clic en **Reenviar verificación**.

![](assets/email-verification-1.png)

![](assets/email-verification-2.png)

**Usuarios y funciones**

En Administración > Usuarios y funciones, la columna Estado de correo electrónico muestra el estado de verificación de cada usuario.

![](assets/email-verification-3.png)

Para reenviar un correo electrónico de verificación a un usuario no verificado, simplemente seleccione su registro y haga clic en **Verificar correo electrónico** botón.
