---
description: Verificación de correo electrónico - Documentos de Marketo - Documentación del producto
title: Verificación de correo electrónico
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: 921c3279b53bc18ac753b1e3f0672a70fe11abe7
workflow-type: tm+mt
source-wordcount: '11'
ht-degree: 9%

---

# Verificación de correo electrónico {#email-verification}

texto