---
description: Verificación de correo electrónico - Documentos de Marketo - Documentación del producto
title: Verificación de correo electrónico
hide: true
hidefromtoc: true
source-git-commit: 7e6fab646ec03394cb406fc41442d585c162bb25
workflow-type: tm+mt
source-wordcount: '10'
ht-degree: 0%

---

# Verificación de correo electrónico {#email-verification}
