---
description: Verificación de correo electrónico - Documentos de Marketo - Documentación del producto
title: Verificación de correo electrónico
hide: true
hidefromtoc: true
exl-id: 976e46a7-8c85-45ed-86c1-0c5cdb2d5c3e
source-git-commit: f00d43080136dd986a6d81d6bc8102cdaf788b4c
workflow-type: tm+mt
source-wordcount: '139'
ht-degree: 0%

---

# Verificación de correo electrónico {#email-verification}

Creo que ha dicho que haremos una nueva página que cubra la verificación de correo electrónico para los usuarios

Invitación del usuario Cuando un administrador invita a un usuario, no hay cambio en la interfaz de usuario ni en la experiencia del usuario Cuando el usuario hace clic en el vínculo de invitación, su correo electrónico se verifica automáticamente Los usuarios con SSO se verifican automáticamente

La pantalla Cuenta de usuario muestra la dirección de correo electrónico como verificada Cuando se actualiza la dirección de correo electrónico, la interfaz de usuario refleja que el correo electrónico de la cuenta no está verificado y se envía el correo electrónico (consulte el correo electrónico adjunto)

Administración - Página Usuarios y funciones Nueva columna que muestra el estado de verificación de un usuario Botón Nuevo para volver a almacenar en déclencheur la verificación de correo electrónico del usuario

MyMarketo Cuando un usuario con un correo electrónico no verificado inicia sesión, debería ver un banner en la página Mi Marketo (SOLO).
